<template name="_fieldsNew">
  {{#ionModal customTemplate=true}}
    {{#autoForm collection="Fields" id="fields-new-form" type="insert"}}
      <div class="bar bar-header bar-stable">
        <button data-dismiss="modal" type="button" class="button button-clear">Cancel</button>
        <h2 class="title">Add Field</h2>
        <button type="submit" class="button button-positive button-clear">Add</button>
      </div>
      <div class="content has-header overflow-scroll">
        {{> afQuickFields omitFields="center,createdAt,updatedAt,owner"}}
      </div>
    {{/autoForm}}
  {{/ionModal}}
</template>
