<template name="_fieldsEdit">
  {{#ionModal customTemplate=true}}
    {{#autoForm collection="Fields" doc=field id="fields-edit-form" type="update"}}
      <div class="bar bar-header bar-stable">
        <button data-dismiss="modal" type="button" class="button button-clear">Cancel</button>
        <h2 class="title">Edit Field</h2>
        <button type="submit" class="button button-positive button-clear">Save</button>
      </div>
      <div class="content has-header overflow-scroll">
        {{> afQuickFields omitFields="center,createdAt,updatedAt,owner"}}
      </div>
    {{/autoForm}}
  {{/ionModal}}
</template>
