<template name="fields">
  {{#contentFor "headerTitle"}}
    <h1 class="title">Fields</h1>
  {{/contentFor}}

  {{#contentFor "headerButtonRight"}}
    <a href="{{pathFor 'fields.new'}}" class="button button-clear">{{> ionIcon icon="ios-plus-empty"}}</a>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}
      {{#ionList}}
        {{#each fields}}
          {{#ionItem path="fields.show" buttonRight=true avatar=true class="item-icon-right"}}
            {{name}}
            {{> ionIcon icon="ios-arrow-forward" class="positive"}}
          {{/ionItem}}
        {{/each}}
      {{/ionList}}
    {{/ionContent}}
  {{/ionView}}
</template>
