<template name="fieldsShow">
  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton path="fields" text="地块列表"}}
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title">地块信息</h1>
  {{/contentFor}}

  {{#contentFor "headerButtonRight"}}
    <!--<a href="{{pathFor 'fields.edit'}}" class="button button-clear">{{> ionIcon icon="edit"}}</a>-->
    <a href="{{pathFor route='fields.edit' data = getPost }}" class="button button-clear">{{> ionIcon icon="edit"}}</a>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent class="padding contact-detail"}}
      {{#with field}}
        <div class="list card">

          <div class="item item-avatar">
            <!--<img src="{{avatarUrl}}">-->
            <h2>{{name}}</h2>
            <p>city, state</p>
          </div>

          <div class="item item-body">
            activeLabel

            <h4>Notes</h4>
            <p>
              details.notes
            </p>
          </div>

          <div class="item tabs tabs-secondary tabs-icon-left">
            <a class="tab-item" href="#" data-action="fake">
              <i class="icon ion-email"></i>
              Send Email
            </a>
            <a class="tab-item" href="#" data-action="fake">
              <i class="icon ion-iphone"></i>
              Call
            </a>
            <a class="tab-item" href="#" data-action="fake">
              <i class="icon ion-share"></i>
              Share
            </a>
          </div>

        </div>
      {{/with}}
    {{/ionContent}}
  {{/ionView}}
</template>
